@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="class1">

</div>

@*<div class="arrow_box">
</div>*@
<div id="marker1" class="marker-red">
    <p>1</p>
</div>

<div id="marker2" class="marker-green">
    <p>2</p>
</div>

<div id="marker3" class="marker-blue">
    <p>3</p>
</div>

<button id="blueBtn" class="btn btn-link">Синий цвет</button>
<button id="redBtn" class="btn btn-link">Красный цвет</button>
<button id="greenBtn" class="btn btn-link">Зелены цвет</button>

<script src="js/marker.js"></script>

<div class="class2">

</div>